<h1>Park #<%= @park.id %> in database.</h1>
<p>Park Name: <%= @park.name %></p>
<p>Park State: <%= @park.state %></p>
<p>Park City: <%= @park.city %></p>
<p>Park Description: <%= @park.description %></p>
<p>Park Fee: <%= @park.fee %></p>
<p>Park Open? <%= @park.open %></p>
<p>Trails Total: <%= @park.trails_count %></p>