<% @trails.each do |trail| %>
    <h3><p>Trail Name: <%= trail.name %></p></h3>
    <p>Difficulty: <%= trail.difficulty %></p>
    <p>Length: <%= trail.length %> miles</p>
    <p>Elevation Gain: <%= trail.elevation_gain %> feet</p>
    <p>Dogs Allowed? <%= trail.dogs_allowed %> </p>
<% end %>

